<div class="container">
  <div class= "sign-form p-4">
    <h2 style="margin:20px;font-size:30px;">Modifier la fiche de poste</h2>

    <%= simple_form_for(@mission) do |f| %>
      <%= f.input :field,
                  required: true,
                  label: "Choississez le domaine d'activité",
                  :collection => ['Finance et RH','Assistanat','Vente','Logistique & Manutention','Comptabilité','Secrétariat','Service client','Ingénierie VRD','Travaux publics']%>
      <%= f.input :title,
                  required: true,
                  label: false,
                  placeholder: "Titre du poste"%>
      <%= f.input :reference,
                  required: true,
                  label: false,
                  placeholder: "Référence de l'offre"%>
      <%= f.input :contract,
                  required: true,
                  label: "Choississez le type de contrat",
                  :collection => ['CDD','CDI','Intérim']%>
      <%= f.input :salary,
                  required: true,
                  label: false,
                  placeholder: "Inscrivez une fourchette de salaire"%>
      <%= f.input :location ,
                  required: true,
                  label: false,
                  placeholder: "Lieu précis de la mission"%>
      <%= f.input :start_time,
                  label: "Date de début du poste",
                  placeholder: "Date de début du poste"%>
      <%= f.input :summary ,
                  label: false,
                  placeholder: "Résumé du poste (qui apparait sur la page 'toutes les offres')"%>
      <%= f.input :description ,
                  label: false,
                  placeholder: "Description du poste (qui apparait dans la fiche de poste)"%>
      <%= f.input :profil ,
                  label: false,
                  placeholder: "Quel profil recherchez-vous?"%>
      <%= f.submit "Modifier", class: "btn btn_apply"%>
    <% end %>

    <%= link_to "Retour", missions_path %>
  </div>
</div>
