<div class="banner_missions" style=" background-image: linear-gradient(rgba(100,100,100,0.4),rgba(100,100,100,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Nos offres d'emploi</h1>
  </div>
</div>

<div class="container" style="margin-top:30px; display:flex; justify-content:flex-end;">
  <div class="search_bar">

    <%= form_tag missions_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "mot-clé"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-primary", style:"margin:10px 0;"%>
    <% end %>


<!-- <label for="pet-select">Choose a pet:</label>

<select name="pets" id="pet-select">
    <option value="">--Please choose an option--</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
</select>

<input type="text" list="cars" />
<datalist id="cars">
  <option>Volvo</option>
  <option>Saab</option>
  <option>Mercedes</option>
  <option>Audi</option>
</datalist>

<div id="billdesc">
    <select id="test">
      <option class="non" value="option1">Option1</option>
      <option class="non" value="option2">Option2</option>
      <option class="editable" value="other">Other</option>
    </select>
    <input class="editOption" style="display:none;"></input>
</div> -->


  </div>
</div>

<div class = "container">
  <div class="cards_missions p-3 mt-4" style="min-height : 65vh">
    <% @missions.each do |mission| %>
      <%= link_to  mission_path(mission) do %>
          <div class="card-category_missions">
            <div class="cc_missions_desc">
              <h4><%= mission.title %></h4>
              <p><%= mission.summary %></p>
            </div>
            <div class="cc_missions_infos">
              <div>
                <p id="field-mission"><%=mission.field%></p>
              </div>
              <div class="cc_missions_infos_content">
                <p><i class="fas fa-map-marker-alt icon"></i> <%=mission.location%></p>
                <p style="text-transform:uppercase"><i class="fas fa-file-signature icon"></i> <%=mission.contract%></p>
                <p><i class="fas fa-euro-sign icon"></i> <%=mission.salary%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
