<div class="banner_missions" style=" background-image: linear-gradient(rgba(100,100,100,0.4),rgba(100,100,100,0.4)), url(https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg);">
  <div class="container center">
    <h1>Nos offres d'emploi</h1>
  </div>
</div>

<div class="container" style="margin-top:30px; display:flex; justify-content:flex-end;">
  <div class="search_bar">

    <%= form_tag missions_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "mot-clé"
      %>
      <%= submit_tag "Rechercher", class: "btn btn-primary", style:"margin:10px 0;"%>
    <% end %>

  </div>
</div>

<div class="container p-0">
  <div class="cards_missions p-0 ml-0 mt-4" style="min-height : 65vh;">
    <% @missions.each do |mission| %>
      <%= link_to  mission_path(mission) do %>
          <div class="card-category_missions">
            <div class="cc_missions_desc">
              <h4><%= mission.title %></h4>
              <p><%= mission.summary %></p>
            </div>
            <div class="cc_missions_infos">
              <div>
                <p id="field-mission"><%=mission.field%></p>
              </div>
              <div class="cc_missions_infos_content">
                <p><i class="fas fa-map-marker-alt icon"></i> <%=mission.location%></p>
                <p><i class="fas fa-file-signature icon"></i> <%=mission.contract%></p>
                <p><i class="fas fa-euro-sign icon"></i> <%=mission.salary%></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
