<div class="banner_missions" style=" background-image: linear-gradient(rgba(100,100,100,0.4),rgba(100,100,100,0.4)), url(https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);">
  <div class="container center">
    <h1><%= @mission.title%></h1>
    <p> <%= @mission.reference %></p>
  </div>
</div>

<div class="container">

  <div class="mission_header">
    <%= link_to "ᐸ  Retour aux offres", missions_path, class: "btn btn_goback" %>
  </div>

  <div class = "container_mission">
    <div class = "mission_content">
      <div class = "mission_content_desc">
        <p class = "mission_content_desc_title"> ABN Recrutement en quelques mots : </p>
        <p>Abn recrutement est une agence d'intérim spécialisée en logistique, dans le tertiaire et en Finance  en France métropolitaine. La satisfaction de nos client et de nos intérimaires sont notre priorité</p>
        <p class = "mission_content_desc_title"> Description du poste : </p>
        <p><%= @mission.description.capitalize %></p>
        <p class = "mission_content_desc_title"> Jours et horaires travaillés : </p>
        <p><%= @mission.days.capitalize %></p>
        <p class = "mission_content_desc_title"> Profil recherché : </p>
        <p><%= @mission.profil.capitalize %></p>
      </div>
      <div class="mission_content_infos_maps">
        <div class="mission_content_infos">
          <h5><%= @mission.field.capitalize %></h5>
          <p> <i class="fas fa-file-signature icon"></i> <%= @mission.contract %> </p>
          <p> <i class="fas fa-euro-sign icon"> </i> <%= @mission.salary%></p>
          <% if @mission.start_time? %><p> <i class="far fa-clock icon"></i>  <%= @mission.start_time.strftime("%d/%m/%Y") %> </p><% end %>
          <p> <i class="fas fa-map-marker-alt icon"></i>  <%= @mission.location.capitalize.first(20) %></p>
        </div>
        <div id="map"
        class="map_mission"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div style="text-align:center; margin-top:30px;">
      <p>Référence de l'offre: <%= @mission.reference %></p>
      <button data-tf-slider="ISX4CSk4" data-tf-width="550" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Postuler</button>
      <script src="//embed.typeform.com/next/embed.js"></script>
      <div class = "justify-content-between mt-3">
        <% if policy(@mission).update? %>
          <%= link_to "MODIFIER", edit_mission_path(@mission), class: "btn btn-ghost red-bg"  %>
        <% end %>
        <% if policy(@mission).destroy? %>
          <%= link_to "SUPPRIMER", mission_path(@mission), method: :delete, class: "btn btn-ghost red-bg"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
