<!DOCTYPE html>
<html>
  <head>
    <title>ABN Recrutement, votre partenaire intérim, CDD et CDI</title>
    <meta name="description" content="ABN Recrutement accompagne ses clients dans leurs recherches de profils en intérim et CDI et trouve le job adéquat pour ses candidats.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="google-site-verification" content="-Jq9wlOwRT1FcfOjy3fELk4Cz2_BzL-PhTdSHuGBOE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- FACEBOOK -->

    <meta property="og:title" content="ABN Recrutement, votre partenaire intérim, CDD et CDI"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.abnrecrutement.fr/"/>
    <meta property="og:image" content="https://marketplace.canva.com/F75pA/MAEKdFF75pA/1/s2/canva-job-seekers-with-resumes-in-hands-waiting-for-job-interview-sitting-on-chairs-in-a-row-MAEKdFF75pA.jpg"/>
    <meta property="og:description" content="ABN Recrutement accompagne ses clients dans leurs recherches de profils en intérim et CDI et trouve le job adéquat pour ses candidats."/>

  </head>

  <body>
  <div class="page-container">
    <div class="navbar-container"><%= render "shared/navbar" %></div>
    <div class="content-container"><%= yield %></div>
    <%= render 'shared/flashes' %>
    <div class="footer-container"><%= render "shared/footer" %></div>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css" rel="stylesheet" />
  </body>
</html>

